.card{
    text-align: center;
}

.form-group{
    margin: auto;
    width: 50%;
}

label{
    font-size: 20px;
    font-weight: 700;
}

.card-header{
    font-size: 25px;
    font-weight: 900;
}

#bmi{
    color: black !important;
}

.form-control{
    margin: auto !important;
}